@font-face {
    font-family: 'Gilroy Bold';
    src: url(/font/Gilroy-Bold.ttf); }
body{
    margin: 0;
    background-image: url(/img/gradient.jpg);
    background-size: cover;
    font-family: 'Gilroy Bold';
   
    
}
*, *:before, *:after {
    box-sizing: border-box; }
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
 
 
 
}

/* h1{
    
    font-weight: 550;
    font-size: 2.5em;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
} */
a {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1;
    color: #000;
    text-decoration: none;

}

a:hover {
    animation-play-state: paused;
}

.head{
    padding-top: 60px;
    display: flex ;
    justify-content: center;
    align-items: center;
   
    
    
   
}
 .iphone{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 755px;
 width: 530px;
 z-index: 1;
 pointer-events: none;
 display: block;
 
 
}
.calc{
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 700px;
    border-radius: 50px;
    background: #000;
    color: #FFF;
    
    font-weight: 550;
    padding: 150px 18px ;
    box-shadow: 4px 4px 4px #4f4f4f;
    z-index: 0;
    overflow: hidden;
}
.calc__screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;

}
.calc__screen p{
    text-align: right;
    font-size: 4rem;
    margin: 0;
}
.calc__buttons{
    display: grid;
    grid-template-areas:
    "ac  plus-minus percent division"
    "seven     eight   nine  multiply"
    "four five     six      minus" 
    "two     three     one plus"
    "zero zero dot equal";
    grid-gap:8px;
    justify-items: center;
     
}
.btn{
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.8rem;
    cursor: pointer;
    user-select: none;
}
.btn.zero{
    grid-area: zero;
    width: 100%;
    border-radius: 35px;
}
.btn:hover{
    filter: brightness(120%);
}
.btn:active{
    filter: brightness(90%);
}
.btn.bg-gray{
    background: #a6a6a6;
}
.btn.bg-orange{
    background: #ff9501;
}
@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}